body {
  margin: 0;
  font-family: "PT Sans", Arial, sens-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1200px;
}


.site-navigation {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.site-navigation li:nth-child(2) {
  margin-right: 250px;
}

.site-navigation li:nth-child(3) {
  margin-right: 17px;
}

.site-navigation a {
  color: #000000;
}

.main-header-logo {
  z-index: 10;
  top: 0;
  position: absolute;
  left: 530px;
}

.features {
  margin-top: -218px;
}

.features-text-main {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 63px auto -15px auto;
  width: 445px;
}

.features-text {
  background-color: #ffffff;
  display: inline-block;
  width: 1200px;
  vertical-align: center;
}

.features-text-p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 55px;
}

.feature-bridge {
  width: 400px;
}

.feature-with-photo {
  background-color: #81b3d2;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.feature-with-photo {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
}

.feature-item-no-photo {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 250px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-with-photo h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-with-photo h3,
.feature-item-no-photo h3 {
  width: 120px;
  margin-left: 140px;
  font-size: 21px;
  line-height: 21px;
}

.square,
.road,
.tourists {
  margin-top: -25px;
}

.feature-with-photo h3,
.feature-with-photo span,
.feature-with-photo p {
  color: #ffffff;
  text-align: center;
}

.feature-bridge h3 {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: -10px;
}

.thin-text {
  color: #333333;
  font-weight: 400;
}

.features li:nth-child(1) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.features li:nth-child(6) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.features li:nth-child(2) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.infrastructure-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.infrastructure-item {
  text-align: center;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  width: 400px;
  padding: 130px 0 0 0;
  position: relative;
}

.infrastructure-item h3 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 5px;
  margin-bottom: 25px;
}

.search-hotel {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.search-hotel b {
  font-size: 30px;
  line-height: 36px;
}

.appointment-info {
  margin-top: 25px;
  margin-bottom: 80px;
  width: 445px;
  margin-left: 380px;
}

.appointment-form {
  background: #ffffff;
  width: 568px;
  margin: 0 auto;
  min-height: 396px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button {
  font: inherit;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.activate-form-btn {
  width: 568px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  line-height: 26px;
  margin: 0 auto;
  padding-left: 139px;
  padding-right: 139px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.activate-form-btn:hover,
.activate-form-btn:focus {
  background-color: #604e43;
}

.activate-form-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.button-form {
  width: 460px;
  min-height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 55px;
}

.button-form:hover,
.button-form:focus {
  background-color: #669ec0;
}

.button-form:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.appointment-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 344px;
  min-height: 38px;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.map-section {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  margin-top: 0;
  z-index: 2;
  background-color: #f2f1ef;
  background-image: url("../img/map.jpg");
}

.main-footer {
  color: #000000;
  background-color: rgba(249, 251, 246, 0.9);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -125px;
  padding-bottom: 15px;
  padding-top: 30px;
  z-index: 3;
  position: relative;
}

.main-footer .footer-social {
  margin-bottom: 25px;
  margin-right: 20px;
  margin-left: 115px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  margin-right: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer b {
  font-size: 21px;
  line-height: 26px;
  margin-left: 35px;
  margin-bottom: 25px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 60px;
  margin-top: 10px;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer-copyright a {
  margin-bottom: 10px;
}

.academy-logo:hover path,
.academy-logo:focus path {
  fill: #81b3d2;
}

.academy-logo:active path {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter ul {
  list-style: none;
  margin-left: -15px;
}

.filters {
  background: url("../img/background-filter.jpg") #436b8e;
  min-height: 160px;
  padding-top: 25px;
}

.filter fieldset {
  border: none;
  margin-left: 35px;
}

.fieldsets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: auto;
  width: 450px;
  margin-top: 3px;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-option label {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: inline-block;
  padding: 8px 0;
  position: relative;
  vertical-align: center;
}

.filter-option {
  position: relative;
  margin-left: 15px;
  margin-top: 8px;
}

.price-control label {
  color: #ffffff;
  font-weight: 400;
}

.price-control {
  border: 2px solid #ffffff;
  padding: 10px 50px 10px 64px;
}

.main-navigation a:hover {
  color: #cadeeb;
}

.main-navigation a:focus {
  color: #cadeeb;
}

.main-navigation a:active {
  color: #cacaca;
}

.site-navigation-current a {
  color: #766357;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.button-form-filter {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 30px;
  margin-top: 55px;
  margin-left: 130px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.button-form-filter:hover {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 32px;
}

.sort-find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: -40px;
  margin-left: 237px;
}

.passive-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.passive-sort:hover {
  color: #81b3d2;
}

.passive-sort:focus {
  color: #000000;
  border: none;
}

.passive-sort:active {
  color: #81b3d2;
  border: none;
}

.sort ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -32px;
  margin-left: 350px;
}

.sort {
  background: #ffffff;
  padding-top: 11px;
  padding-bottom: 14px;
}

.catalog h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0 auto;
}

.text-about-hotel {
  padding: 25px 0;
  margin-left: -8px;
}

.buttons-hotels {
  margin-top: 15px;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

.catalog-item-price {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item-image {
  padding: 30px 40px;
}

.catalog-item:nth-child(2),
.catalog-item:nth-child(3) {
  border-top: none;
  margin-top: -8px;
  padding-top: 2px;
}

.catalog-category,
.catalog-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 120px;
}

.catalog-price {
  margin-left: -3px;
}

.catalog ul {
  list-style: none;
}

.catalog {
  background: #ffffff;
  padding: 1px;
  margin-top: 0;
}

.catalog-list {
  padding: 0;
}

.catalog-item-rate {
  margin-top: 50px;
  padding-right: 100px;
}

.hotel-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-width: 100px;
  margin-top: 30px;
  padding-right: 100px;
}

.hotel-rate {
  margin-left: auto;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: -35px;
}

.rate {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #727272;
  background-color: #f2f2f2;
  padding: 4px 16px;
}

.button-more {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 4px 16px;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  background-color: #5496bd;
  color: #85b0cd;
}

.button-book {
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 4px 16px;
  margin-left: 5px;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:focus {
  background-color: #503e33;
  color: #928a85;
}

.item-title:hover h3 {
  color: #81b3d2;
}

.item-title:active h3 {
  color: #cacaca;
}

.main-footer-inner {
  min-height: 120px;
  margin: 0 auto;
  padding: 0;
  background: #fefefe;
  width: 1200px;
  margin-top: -15px;
  padding-top: 20px;
}

.filter-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.star {
  display: inline-block;
  width: 22px;
  min-height: 20px;
  font-size: 0;
  position: relative;
  vertical-align: center;
  margin-right: 2px;
}

.star::before {
  content: "";
  position: absolute;
  left: 0%;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 22px;
  min-height: 20px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 55px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-top: 3px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 310px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  font-weight: 400;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  height: 30px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls .max-price {
  padding-left: 50px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 314px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 75%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 110px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.feature-text-sedona {
  width: 290px;
  margin-right: 55px;
  margin-left: 55px;
  margin-top: 20px;
}

.feature-city {
  margin-bottom: 25px;
}

.feature-text-bridge {
  width: 305px;
  margin-right: 55px;
  margin-left: 50px;
}

.feature-text-places {
  width: 220px;
  margin-left: 90px;
  margin-top: 20px;
}

.feature-text-road {
  width: 265px;
  margin-left: 70px;
  margin-top: 20px;
}

.feature-text-canyon {
  width: 250px;
  margin-left: 75px;
  margin-top: 20px;
}

.square,
.road,
.tourists {
  width: 400px;
}

.accomodation-text {
  width: 260px;
  padding-bottom: 75px;
  margin-left: 75px;
}

.burger-text {
  width: 290px;
  margin-left: 60px;
  padding-bottom: 75px;
}

.souvenirs-text {
  width: 280px;
  margin-left: 60px;
  padding-bottom: 75px;
}

.accomodation-heading::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  width: 80px;
  min-height: 80px;
  top: 55px;
  left: 163px;
}

.food-heading::before {
  content: "";
  position: absolute;
  left: 163px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  width: 80px;
  min-height: 80px;
  top: 59px;
}

.souvenirs-heading::before {
  content: "";
  position: absolute;
  left: 163px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  width: 80px;
  min-height: 80px;
  top: 54px;
}

.filter-option label::before {
  position: absolute;
  z-index: 1;
  width: 19px;
  height: 19px;
  content: "";
  border: 2px solid #ffffff;
  border-radius: 4px;
  left: -40px;
}

input[type="checkbox"]:disabled+label::before {
  border-color: #5c5e5f;
}

.filter-option input[type="checkbox"]:checked+label::after {
  position: absolute;
  z-index: 1;
  content: "";
  border: 4px solid #ffffff;
  width: 17px;
  height: 8px;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -36px;
  top: 8px;
}

input[type="checkbox"]:disabled:checked+label::after {
  border-color: #5c5e5f;
}

.type-sort,
.rate-sort {
  margin-left: 30px;
}

.calendar-btn-in,
.calendar-btn-out {
  background-image: url("../img/calendar.png");
  position: absolute;
  width: 25px;
  min-height: 25px;
  top: 8px;
  right: 5px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
}

.calendar-btn-in:hover,
.calendar-btn-out:hover {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.calendar-btn-in:active,
.calendar-btn-out:active {
  background-image: url("../img/calendar-active.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.appointment-item {
  position: relative;
  padding-left: 55px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  margin-left: 0;
}

.sort-arrows {
  position: relative;
}

.sort-arrow-down::after {
  content: "";
  position: absolute;
  right: 95px;
  bottom: 5px;
  border: 6px solid transparent;
  border-top: 12px solid #cacaca;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


.sort-arrow-up::after {
  content: "";
  position: absolute;
  right: 70px;
  bottom: -1px;
  border: 6px solid transparent;
  border-top: 12px solid #cacaca;
}

.sort-arrow-down:hover:after,
.sort-arrow-up:hover:after {
  border-top: 12px solid #000000;
}

.sort-arrow-down:active:after,
.sort-arrow-up:active:after {
  border-top: 12px solid #81b3d2;
}

.visitors input {
  width: 38px;
  text-align: center;
  min-height: 40px;
  margin-left: 38px;
  padding: 0;
}

.visitors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0;
  margin-top: 25px;
}

.btn-plus-children {
  position: absolute;
  content: "";
  width: 38px;
  min-height: 38px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 192px;
  top: 0;
  background: transparent;
  cursor: pointer;
}

.btn-minus-children {
  position: absolute;
  content: "";
  width: 38px;
  min-height: 38px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 38px;
  top: 0;
  background: transparent;
  cursor: pointer;
}

.appointment-item-children {
  margin-left: 37px;
}

.btn-minus:hover {
  background-image: url("../img/minus-hover.png")
}

.btn-plus:hover {
  background-image: url("../img/plus-hover.png")
}

.btn-minus:active {
  background-image: url("../img/minus-active.png")
}

.btn-plus:active {
  background-image: url("../img/plus-active.png")
}

.counter input {
  width: 10px;
}

.btn-plus-adults {
  position: absolute;
  content: "";
  width: 38px;
  min-height: 38px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 246px;
  top: 0;
  background: transparent;
  cursor: pointer;
}

.btn-minus-adults {
  position: absolute;
  content: "";
  width: 38px;
  min-height: 38px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 38px;
  top: 0;
  background: transparent;
  cursor: pointer;
}

.btn-plus {
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  min-height: 40px;
}

.btn-minus {
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  min-height: 40px;
}

.date-window {
  width: 330px;
}

.appointment-item label {
  margin-right: 20px;
}

.appointment-item-arrival-date {
  margin-top: 55px;
  margin-bottom: 25px;
}

.appointment-item-arrival-date label {
  margin-right: 23px;
}

.appointment-item-adults label {
  margin-right: 40px;
}

.main-photo-polygon {
  position: absolute;
  top: 400px;
}

@-webkit-keyframes wow {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wow {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.no-form {
  display: none;
  -webkit-animation: wow 0.6s;
  animation: wow 0.6s;
}

.search-form {
  position: absolute;
  margin-left: 316px;
  margin-top: 30px;
  -webkit-animation: wow 0.6s;
  animation: wow 0.6s;
  z-index: 3;
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.wrapper {
  position: relative;
  height: 434px;
  margin-bottom: 215px;
  background-color: #dbe9f2;
  background-image: url(../img/background.jpg);
  background-position: 0 -55px;
  padding-top: 76px;
  text-align: center;
}

.wrapper::after {
  content: " ";
  position: absolute;
  width: 1200px;
  height: 59px;
  background-image: url(../img/polygon.svg);
  top: 454px;
  left: 0;
}

.main-footer-inner b {
  margin-left: 60px;
  margin-bottom: 30px;
}

.main-footer-inner .footer-social {
  margin-right: 30px;
  margin-bottom: 30px;
}

.main-footer-inner .footer-copyright {
  margin-right: 25px;
  margin-bottom: 30px;
}

.checkbox:focus + label::before {
  outline: 1px solid#81b3d2;
}

.checkbox:focus + label {
  outline: 1px solid #81b3d2;
}

.map-section iframe {
  position: relative;
  z-index: 2;
  border: none;
}