body {
  margin: 0;

  font-family: "PT Sans", Arial, sens-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1200px;
}


.site-navigation {
  list-style: none;
  margin-left: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-around;
}

.site-navigation a {
  color: #000000;
}

.main-header-logo {
  z-index: 10;
  margin-top: 10px;
  position: absolute;
}

.features-text-main {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 60px auto 40px auto;
  width: 445px;
}

.features-text-p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 55px;
}

.feature-with-photo {
  background-color: #81b3d2;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 55px;
}

.feature-with-photo {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 250px;
  align-items: center;
  width: 1200px;
}

.feature-item-no-photo {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  align-items: center;
  width: 400px;
  order: 4;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-with-photo h3,
.feature-item-no-photo h3 {
  width: 120px;
  margin-left: 140px;
}

.feature-with-photo h3,
.feature-with-photo span,
.feature-with-photo p {
  color: #ffffff;
  text-align: center;
}

.thin-text {
  color: #333333;
  font-weight: 400;
}

.features li:nth-child(1) {
  order: 1;
}

.features li:nth-child(6) {
  order: 2;
}

.features li:nth-child(2) {
  order: 3;
}

.infrastructure-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.infrastructure-item {
  text-align: center;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  order: 3;
}

.infrastructure-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 160px;
}

.search-hotel {
  text-align: center;
  margin-top: 55px;
}

.search-hotel b {
  font-size: 30px;
  line-height: 36px;
}

.appointment-info {
  margin-top: 35px;
  margin-bottom: 80px;
  width: 445px;
  margin-left: 375px;
}

.appointment-form {
  background: #ffffff;
  width: 568px;
  margin: 0 auto;
  min-height: 396px;
}

.button {
  font: inherit;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.activate-form-btn {
  width: 568px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  line-height: 26px;
  margin: 0 auto;
  padding-left: 139px;
  padding-right: 139px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.activate-form-btn:hover,
.activate-form-btn:focus {
  background-color: #604e43;
}

.activate-form-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.button-form {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.button-form:hover,
.button-form:focus {
  background-color: #669ec0;
}

.button-form:active {
  background: #94b9d2;
  background-color: #5496bd;
}

.appointment-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  margin-top: 30px;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.map-section {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  margin-top: -380px;
  z-index: -10;
}

.main-footer {
  color: #000000;
  background-color: rgba(249, 251, 246, 0.9);
  background-position: 0 0;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  width: 1130px;
  justify-content: space-around;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
  padding: 35px;
  margin-top: -125px;
}

.social-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #81b3d2;
  margin-right: 10px;
  vertical-align: middle;
}

.social-button-twitter {
  background: #81b3d2 url("../img/twitter.svg") no-repeat;
  background-position: 11px 12px;
}

.social-button-facebook {
  background: #81b3d2 url("../img/fb-icon.svg") no-repeat;
  background-position: 14px 10px;
}

.social-button-youtube {
  background: #81b3d2 url("../img/youtube.svg") no-repeat;
  background-position: 10px 11px;
}

.main-footer b {
  font-size: 21px;
  line-height: 26px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  vertical-align: middle;
  margin-right: 10px;
}


/*
.footer-copyright .academy-logo:hover,
.footer-copyright .academy-logo:focus {
  color: ;
  background-color: ;

}
*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter ul {
  list-style: none;
  margin-left: -15px;
}

.filters {
  background: url("../img/background-filter.jpg") #436b8e;
  min-height: 220px;
}

.filter fieldset {
  border: none;
  margin-top: 15px;
  margin-left: 70px;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 20px 0px;
}

.filter-option label {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.filter-option {
  position: relative;
}

.price-control label {
  color: #ffffff;
  font-weight: 400;
}

.price-control {
  border: 2px solid #ffffff;
  padding: 10px 50px 10px 64px;
}

.main-navigation a:hover {
  color: #cadeeb;
}

.main-navigation a:focus {
  color: #cacaca;
}

.main-navigation a:active {
  color: #766357;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.button-form-filter {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 30px;
  margin-top: 55px;
  margin-left: 130px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.button-form-filter:hover {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 32px;
}

.sort-find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: -40px;
  margin-left: 235px;
}

.passive-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.passive-sort:hover {
  color: #81b3d2;
}

.passive-sort:focus {
  color: #000000;
  border: none;
}

.passive-sort:active {
  color: #81b3d2;
  border: none;
}

.sort ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -32px;
  margin-left: 350px;
}

.catalog h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0 auto;
}

.text-about-hotel {
  margin-left: 30px;
  margin-top: 25px;
}

.buttons-hotels {
  margin-top: 15px;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  margin-left: 33px;
  display: flex;
}

.catalog-item-price {
  margin-top: 7px;
}

.catalog-item-image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog-item:nth-child(2),
.catalog-item:nth-child(3) {
  border-top: none;
}

.catalog-category,
.catalog-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog ul {
  list-style: none;
}

.catalog-item-rate {
  margin-top: 43px;
}

.hotel-stars {
  display: flex;
  justify-content: center;
  min-width: 100px;
  margin-top: 30px;
}

.hotel-rate {
  margin-left: auto;
}

.rate {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #727272;
  background-color: #f2f2f2;
  padding: 7px;
}

.button-more {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 7px;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:focus {
  background-color: #5496bd;
  color: #85b0cd;
}

.button-book {
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 7px;
  margin-left: 6px;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:focus {
  background-color: #503e33;
  color: #928a85;
}

.item-title:hover h3 {
  color: #81b3d2;
}

.item-title:active h3 {
  color: #cacaca;
}

.main-footer-inner {
  min-height: 120px;
  margin: 0 auto;
  padding: 0;
  background: #fefefe;
}

.filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.star {
  display: inline-block;
  width: 22px;
  min-height: 20px;
  font-size: 0;
  position: relative;
  right: 30%;
}

.star::before {
  content: "";
  position: absolute;
  left: 0%;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 22px;
  min-height: 20px;
}

.filter-range {
  width: 330px;
  margin: 50px auto;
  /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.feature-text-sedona {
  width: 290px;
  margin-right: 55px;
  margin-left: 55px;
}

.feature-text-bridge {
  width: 305px;
  margin-right: 55px;
  margin-left: 55px;
}

.feature-text-places {
  width: 220px;
  margin-left: 95px;
}

.feature-text-road {
  width: 265px;
  margin-left: 60px;
}

.feature-text-canyon {
  width: 260px;
  margin-left: 55px;
}

.square,
.road,
.tourists {
  width: 400px;
}

.accomodation-text {
  width: 260px;
  margin-left: 75px;
  margin-bottom: 90px;
}

.burger-text {
  width: 290px;
  margin-left: 135px;
}

.souvenirs-text {
  width: 280px;
  margin-left: 120px;
}

.accomodation-heading {
  margin-left: 75px;
}

.accomodation-heading::before {
  content: "";
  position: absolute;
  left: 18%;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  width: 80px;
  min-height: 80px;
  margin-top: -100px;
}

.food-heading {
  margin-left: 125px;
}

.food-heading::before {
  content: "";
  position: absolute;
  left: 48%;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  width: 80px;
  min-height: 80px;
  margin-top: -100px;
}


.souvenirs-heading {
  margin-left: 130px;
}

.souvenirs-heading::before {
  content: "";
  position: absolute;
  left: 79%;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  width: 80px;
  min-height: 80px;
  margin-top: -100px;
}

.filter-option label::before {
  position: absolute;
  z-index: 1;
  width: 14px;
  height: 14px;
  content: '';
  border: 3px solid #ffffff;
  border-radius: 4px;
  left: -25px;
}

input[type="checkbox"]:disabled+label::before {
  border-color: #5c5e5f;
}

.filter-option input[type="checkbox"]:checked+label::after {
  position: absolute;
  z-index: 1;
  content: '';
  border: 4px solid #ffffff;
  width: 14px;
  height: 6px;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  left: -20px;
}

input[type="checkbox"]:disabled:checked+label::after {
  border-color: #5c5e5f;
}

.type-sort,
.rate-sort {
  margin-left: 30px;
}
